name: Bump-n-Release

# NOTE: The change log is only updated in the remote upon release (in `bump-release` job)

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      component:
        description: The version component to increase
        type: choice
        required: true
        default: patch
        options:
          - major
          - minor
          - patch
          - rc

permissions: {}

jobs:
  bump-release:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    # permissions needed by the BUMP_N_RELEASE token:
    # permissions:
    #   contents: write
    #   pull-requests: read
    # BUMP_N_RELEASE (PAT) token needed to trigger other CI
    # permissions used by the `github.token` (which cannot trigger other CI):
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true # needed to git push changes

      - name: Setup nushell
        uses: hustcer/setup-nu@3a97c8160c2bb5af321a03336e7addc28f94444e # v3.21
        with:
          version: "*"

      - uses: cargo-bins/cargo-binstall@8110b3aa84cb581a90696bc57469b0656f972494 # v1.16.3
      - name: Install git-cliff
        run: cargo binstall -y git-cliff
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Install cargo-edit
        run: >-
          cargo install
          --no-default-features
          --features set-version
          --bin cargo-set-version
          cargo-edit

      - name: Bump ${{ inputs.component }} version
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
        run: nu .github/workflows/bump-n-release.nu ${{ inputs.component }}

  unreleased-changes:
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - uses: actions/setup-python@v6
        id: python-setup
        with:
          python-version: '3.x'
      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: false
      - name: Generate a changelog
        env:
          GIT_CLIFF_CONFIG: .config/cliff.toml
          GITHUB_REPO: ${{ github.repository }}
        run: >-
          uvx --constraints .github/requirements.txt
          git-cliff --unreleased --output "${GITHUB_STEP_SUMMARY}"
